@use 'variables' as *;

// MEDIA QUERY HELPER
@mixin respond($breakpoint) {
  @if $breakpoint == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else {
    @warn "⚠️ Unknown breakpoint: #{$breakpoint}";
  }
}

// FONT STYLES
@mixin text-preset-1 {
  font-weight: $font-weight-bold;
  font-size: $font-size-heading;
  line-height: $line-height-heading;
  letter-spacing: $letter-spacing-heading;
}

@mixin text-preset-2 {
  font-weight: $font-weight-regular;
  font-size: $font-size-body;
  line-height: $line-height-body;
  letter-spacing: $letter-spacing-body;
}

// Flex
@mixin flex-container(
  $justify: flex-start,
  $align: center,
  $gap: 0,
  $direction: column,
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}


// Animations
@mixin transition-all {
  transition: all 0.5s ease;
}
