// Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// Colors
$white: #FFFFFF;
$slate-300: #D5E1EF;
$slate-500: #68778D;
$slate-900: #1F314F;

$blue-500: #3685FF;
$blue-600: #2C7DFA;

// Typography
$font-family-base: 'Outfit', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-size-body: 15px;
$font-size-heading: 22px;

$line-height-body: 140%;
$line-height-heading: 120%;

$letter-spacing-heading: 0px;
$letter-spacing-body: 0.2px;

// Spacing
$spacing-200: 16px;
$spacing-300: 24px;
$spacing-500: 40px;
